{% extends 'base.html' %}

{% block navbar %}
    <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="margin-right: 20px">На главную</a>
    <a class="nav-link active" aria-current="page" href="{% url 'display_task' %}">Просмотр задач</a>
{% endblock %}

    <title>{% block title %}Update Task{% endblock %}</title>

{% block content %}
<h1 style="margin-top: 50px">Обновите задачу:</h1>
<form method="post">
    {% include 'partial/task_form.html' with value_submit='Изменить' %}
</form>
{% endblock %}